@import "../../vars.css";

.container {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 76px;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  flex-wrap: wrap;
}

.projectContainer {
  width: 345px;
  height: 505px;
  border-radius: 10px;
  background: linear-gradient(
    180deg, 
    var(--color-primary) -14.75%, 
    #132A53 50.1%
  );
  box-shadow: 0 16px 14px 0 var(--color-bg);
  padding: 18px 24px;
  margin: 0px 7.5px;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
}

.projectImage {
  width: 298px;
  height: 200px;
  border-radius: 10px;
}

.projectTitle {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
  margin-top: 26px;
}

.projectDescription {
  color: var(--color-text);
  font-size: 25px;
}

.projectSkills {
  display: flex;
  flex-direction: row;
}

.skillContainer {
  padding: 2px 16px;
  border-radius: 100px;
  background: var(--color-dark);
  color: var(--color-text);
  margin-right: 6px;
  margin-top: 14px;
}

.skillText {
  font-size: 25px;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
}

.projectLinks a {
  border-radius: 100px;
  background: var(--color-primary);
  text-decoration: none;
  color: var(--color-text);
  padding: 2px 16px;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 830px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .projectContainer {
    margin-bottom: 29px;
  }
}